@{ 
    Marmara.Models.User User = Session["User"] as Marmara.Models.User;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Google Web Fonts ================================================== -->

    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900|Oswald:200,300,400,500,600,700" rel="stylesheet">

    <!-- Basic Page Needs
    ================================================== -->

    <!-- SITE TITLE -->
    <title>Marmara Academy</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Public/site/images/favicon.ico">

    <!--meta info-->

    <meta charset="utf-8">
    <meta name="author" content="Marmara">
    <meta name="keywords" content="marmaraacademy.net,academy, course, education, elearning, learning">
    <meta name="ecosafe" content="Marmara">
    <meta name="description" content="Marmara Academy - We trust in education">
    <meta name="apple-mobile-web-app-title" content="Marmara">
    <meta name="application-name" content="Marmara">

    <meta property="og:type" content="Marmara">
    <meta property="og:title" content="Marmara">
    <meta property="og:url" content="http://www.marmaraacademy.net/">
    <meta property="og:site_name" content="Marmara">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">



    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    @Styles.Render("~/Content/LayoutStyle")


</head>

<body>

    <!-- LOADER -->
    <div class="se-pre-con"></div>
    <!-- END LOADER -->
    <!-- START HEADER -->
    <header class="header_wrap dark_skin">
        <div class="top-header bg-logo-main-color light_skin">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <ul class="contact_detail list_none text-center text-md-left">
                            <li><a href="#"><i class="ti-mobile"></i>+994 12 595 20 80</a></li>
                            <li><a href="#"><i class="ti-email"></i>info@marmara.edu.az</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-wrap align-items-center justify-content-md-end justify-content-center mt-2 mt-md-0">
                            <ul class="list_none social_icons social_white text-center text-md-right">
                                <li><a href="https://www.facebook.com/marmaraeduaz" target="_blank"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/marmaraeduaz/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="https://twitter.com/marmaraeduaz" target="_blank"><i class="ion-social-twitter"></i></a></li>
                            </ul>
                            @if (Session["Login"] == null)
                            {
                                <ul class="list_none header_list border_list ml-1">

                                    <li><a href="~/home/login" class="btn btn-default btn-sm rounded-0"><i class="fa fa-sign-in"></i>Giriş</a></li>
                                    <li><a href="~/home/registration" class="btn btn-default btn-sm rounded-0"><i class="fa fa-pencil-square-o"></i>Qeydiyyat</a></li>
                                </ul>

                            }
                            @if (Session["Login"] != null)
                            {
                                <ul class="navbar-nav list_none border_list UserLoginTab">
                                    <li class="dropdown">
                                        <a class="btn btn-default btn-sm rounded-0" href="#" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/profile/index/@User.Id">@User.Name @User.Surname</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/profile/index/@User.Id">Hesabım</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/profile/myexams/@User.Id">İmtahanlarım</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/profile/sertificates/@User.Id">Sertifikarlarım</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/profile/myreceipts/@User.Id">Ödənişlərim</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/profile/schedule/@User.Id">Cədvəl</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="~/home/logout">Çıxış</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="StickyHeader">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="~/home">
                        <img class="logo_light" src="~/Public/site/images/logo_white.png" alt="logo" style="max-width: 185px;" />
                        <img class="logo_dark" src="~/Public/site/images/logo_white.png" alt="logo" style="max-width: 185px;" />
                        <img class="logo_default" src="~/Public/site/images/logo_white.png" alt="logo" style="max-width: 185px;" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            @*<li>
                                    <a class="nav-link" href="~/home">ANA SƏHİFƏ</a>
                                </li>*@

                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">TÜRKİYƏDƏ TƏHSİL</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/whytr">Niyə Məhz Türkiyə ?</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/bachelor">Bakalavr</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/master">Magistratura</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/papers">Lazımi Sənədlər</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/eduandcost">türkiyədə təhsil və yaşam xərclər</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Unİversİtetlər</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/universities">Attestatla qəbul ala biləcəyiniz universitetlər</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/departments">İxtisasların siyahısı</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/studyinturkey/masterunis">Magistraturada oxuya biləyəcəyiniz bəzi universitetlər </a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Kurslarımız</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/sat">SAT-1/SAT-2</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/yos">YÖS</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/tys">Türkçe Yeterlilik sınavı</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/daad">DAAD</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/tcf">TCF</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/ielts">IELTS</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="~/courses/toefl">TOEFL</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link" href="~/exam/all">Imtahanlar</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Online dərslər</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        @if (Session["Login"] != null)
                                        {
                                            <li><a class="dropdown-item nav-link nav_item" href="~/lesson/live/@User.Id">Canlı olan dərslər</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="~/lesson/video/@User.Id">Video dərsliklər</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="dropdown-item nav-link nav_item" href="~/home/login">Canlı olan dərslər</a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="~/home/login">Video dərsliklər</a></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            @*<li>
                                    <a class="nav-link" href="#">Bloqlar</a>
                                </li>*@
                            <li>
                                <a class="nav-link" href="~/home/contact">Əlaqə</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </header>
    <!-- END HEADER -->




    @RenderBody()


    <!-- START FOOTER -->
    <footer class="bg_blue_dark footer_dark">

        <div class="bottom_footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p class="copyright m-md-0 text-center text-md-left">© 2020 Bütün hüquqları qorunur.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_none footer_link text-center text-md-right">
                            <li><a href="#">Developed by <span>Rahim Isa</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    @Scripts.Render("~/bundles/LayoutScript")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Public/admin/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Public/admin/js/plugins/dataTables.bootstrap.min.js"></script>


    <script type="text/javascript">$('#sampleTable').DataTable();</script>

    <script type="text/javascript">
        var date = new Date();
        //var age18 = 365 * 15 + 4;
        date.setDate(date.getDate());

        $('#birhDate').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            endDate: date
        });
    </script>

</body>

</html>
