@model Marmara.Models.tblUserExam

@{
    ViewBag.Title = "Create";
    Marmara.Models.User PartialModel = Session["User"] as Marmara.Models.User;
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="/Public/site/images/about_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>İmtahan ödənişi</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION TEACHER -->
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("_ProfilePartial", PartialModel)

            <div class="col-lg-9 col-md-6">
                <div class="box_shadow1 p-4">
                    @using (Html.BeginForm("Create", "Exam", FormMethod.Post, new { enctype = "multipart/form-data", @id = "examCreateForm" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="invisible">
                            <input type="text" name="UserId" id="UserId" value="@ViewBag.User.Id" />
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label col-md-12" for="ExamId">İmtahan seçin</label>
                            <div class="col-md-7">
                                <div class="col-md-7">
                                    <select class="form-control" id="ExamId" name="ExamId">

                                        @foreach (var item in ViewBag.Exams)
                                        {
                                            <option value="@item.Id" @(ViewBag.ExamId == item.Id ? "selected" : "")>@item.Name</option>
                                        }

                                    </select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="ExamId" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>


                        @if (PartialModel.IsCourseStudent != true)
                        {
                            <div class="form-group col-md-12">
                                <label class="col-md-9 text_danger mt-2 imageError" for="imageFile">*Qəbzin şəklini yükləyin</label>
                                <div class="col-md-9">
                                    <input type="file" name="imageFile" id="imageFile" />
                                    <h6 class="text_danger mt-2 imageError" style="display:none"></h6>
                                </div>
                            </div>
                        }


                        <div class="form-group col-md-12">
                            <div class="col text-center">
                                @if (PartialModel.IsCourseStudent != true)
                                {
                                    <input type="submit" value="Ödə" class="btn btn-default mt-2" />

                                }
                                else
                                {
                                    <input type="submit" value="İmtahana keç" class="btn btn-default mt-2" />
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END SECTION TEACHER -->
